<h1>Дополнительная литература</h1>

<div class="row">
  <div class="col-sm-2">
    <app-curriculum-topic-list></app-curriculum-topic-list>
  </div>
  <div class="col-sm">
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Добавить</button>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="md-form">
            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input" mdbInput>
            <label for="search-input">Search</label>
          </div>
        </div>
        <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
          <thead class="sticky-top">
          <tr>
            <th *ngFor="let p of values; let i = index" [mdbTableSort]="elements" [sortBy]="values[i]"
                scope="col">{{p | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </tr>
          </thead>
          <tbody #row>
          <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let p of values; let i = index">
            <th scope="row">{{p?.id}}</th>
            <th scope="row">{{p?.content}}</th>

            <th>
            <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="basicModal.show()" (click)="editValue(p)" mdbWavesEffect>Изменить</button>
              <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="delete(p)" mdbWavesEffect>Удалить</button>
            </th>
          </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="4">
              <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
</div>

<!--шаблон для добавления-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()" (click)="cancel()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Дополнительная литература</h4>
      </div>
      <div class="modal-body">
        <label>Содержание</label>
        <input type="text" [(ngModel)]="value.content" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()" (click)="save()" mdbWavesEffect>Сохранить</button>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" (click)="cancel()" mdbWavesEffect>Отмена</button>
      </div>
    </div>
  </div>
