.example-container {
  max-width: 100%;
  margin: 0 25px 25px 0;
  vertical-align: top;
  border: black solid 1px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  padding: 10px;
  background: linear-gradient(white, #ddecff);
}
