<h1>Раздел учебной программы</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
  <tr>
    <td>Раздел учебной программы</td>
    <td>Номер раздела</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of values">
    <ng-template [ngIf]="value?.id != p.id" [ngIfElse]="edit">
      <td>{{p?.name}}</td>
      <td>{{p?.sectionNumber}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="editValue(p)">Изменить</button>
        <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
      </td>
    </ng-template>
  </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="value.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="value.sectionNumber" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Раздел учебной программы</label>
    <input type="text" [(ngModel)]="value.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Номер раздела</label>
    <input type="text" [(ngModel)]="value.sectionNumber" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
