
<h6><b>Максимальное количество вариативных часов:</b></h6>
<div style="display: inline-block; margin-right: 20px; text-align: center;" *ngFor="let el of occupationForms">

  <label style="font-size: small" for="maxVariableHours">{{el.fullName.slice(0,2)}}.</label>
  <input id="maxVariableHours" type="number" min="0" max="10"
         (change)= "el.maxVariableTopicHours < 0 ? el.maxVariableTopicHours = 0 : el.maxVariableTopicHours;
         el.maxVariableTopicHours > 10 ? el.maxVariableTopicHours = 0 : el.maxVariableTopicHours;"
         class="md-textarea form-control" [(ngModel)]="el.maxVariableTopicHours"
         (focusout)="crateMaxVariableTopicHours(el)" mdbInput style="width: 60px"><br>
</div>
