.button-row{
  display: inline;
}

.type-button{
  margin-right: 15px;
}

.close-dialog-button{
  position: absolute;
  top: 0;
  right: 0;
}

.dialog-window-header{
  position: relative;
}

.close-dialog-button{
  position: absolute;
  top: 0;
  right: 0;
}

.mat-dialog-container{
  position: relative;
}

