<h2 mat-dialog-title>Выберите шаблон:</h2>
<button mat-icon-button class="close-dialog-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>

<mat-dialog-content class="mat-typography">
  <div class="button-row">
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="{type: staticData.trainingProgramCurriculumType.DEFAULT, addAsTemplate: addAsTemplate}">Лекция</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="{type: staticData.trainingProgramCurriculumType.BUSINESS_GAME, addAsTemplate: addAsTemplate}">Деловая игра</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="{type: staticData.trainingProgramCurriculumType.ROUND_TABLE, addAsTemplate: addAsTemplate}">Круглый стол</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="{type: staticData.trainingProgramCurriculumType.TRAINING, addAsTemplate: addAsTemplate}">Тренинг</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="{type: staticData.trainingProgramCurriculumType.CONFERENCE, addAsTemplate: addAsTemplate}">Конференция</button>
  </div>

  <div class="check-box-div">
    <br>
    <mdb-checkbox [(ngModel)]="addAsTemplate" [default]="false" >Добавить в общий доступ</mdb-checkbox>
  </div>
  <p></p>
</mat-dialog-content>
