<h2 mat-dialog-title>Выберите шаблон:</h2>
<button mat-icon-button class="close-dialog-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>

<mat-dialog-content class="mat-typography">
  <div class="button-row">
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="staticData.trainingProgramCurriculumType.DEFAULT">Лекция</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="staticData.trainingProgramCurriculumType.BUSINESS_GAME">Деловая игра</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="staticData.trainingProgramCurriculumType.ROUND_TABLE">Круглый стол</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="staticData.trainingProgramCurriculumType.TRAINING">Тренинг</button>
    <button class="type-button" mat-raised-button color="primary" [mat-dialog-close]="staticData.trainingProgramCurriculumType.CONFERENCE">Конференция</button>
  </div>
  <p></p>
</mat-dialog-content>
