.divCell {
  border: 1px solid black;
  border-radius: 10pt;
  width: 160px;
  height: 70px;
}

.divCell:hover {
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}

.metaData {
  margin: 5px 10px 5px 5px;
  font-size: 12px;
}

.left, .right {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  font-size: 12px;
}

.left {
  width: 105px;
  margin-left: 5px;
}

.right {
  width: 40px;
  text-align: right;
  margin-right: 5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
