<div
  *ngIf="done"
  cdkDropList
  [cdkDropListData]="done"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <button *ngIf="done.length === 0" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
          mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить тему</button>
  <br>

  <div class="example-box"  *ngFor="let item of done; index as i" cdkDrag>
    <div id="curriculumTitle"><b>{{i+1}}. {{item.second}}</b></div><br>
    <div id="curriculumAnnotation">{{item.ninth}}</div><br>
    <div id="isVariable" *ngIf="trainingProgram.isDistanceLearning === false && item.fifth">
      <mdb-checkbox (change)="updateSingleCurriculumTopicTrainingProgram(item)" [(ngModel)]="item.third" [default]="true">Вариативная</mdb-checkbox>
    </div><br>


    <app-occupation-form-class-hour-child></app-occupation-form-class-hour-child>


    <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
            mdbWavesEffect>
      <mdb-icon fas icon="plus" size="lg"></mdb-icon>
    </button>
    <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
            (click)="deleteCurriculumTopicTrainingProgram(item.seventh, i)" mdbWavesEffect>
      <mdb-icon fas icon="times" size="lg"></mdb-icon>
    </button>
  </div>

</div>
