<div
  *ngIf="done"
  cdkDropList
  [cdkDropListData]="done"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <button *ngIf="done.length === 0" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
          (click)="curriculumTopicAddForm()" mdbWavesEffect>
    <mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить тему
  </button>
  <br>

  <div class="example-box"  *ngFor="let item of done; index as i" cdkDrag>
    <div id="curriculumTitle"><b>{{i+1}}. {{item.topicTitle}}</b></div><br>
    <div id="curriculumAnnotation">{{item.annotation}}</div><br>
    <div id="isVariable" *ngIf="!trainingProgram.isDistanceLearning">
      <mdb-checkbox (change)="updateCurriculumTopicTrainingProgram(item)"
                    [(ngModel)]="item.isVariable" [default]="true">Вариативная
      </mdb-checkbox>
    </div><br>

    <app-occupation-form-class-hour-child
    [curriculumTopicTrainingProgramId]="item.curriculumTopicTrainingProgramId"
    [occupationForms]="occupationForms">
    </app-occupation-form-class-hour-child>

    <button *ngIf="i == done.length - 1" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
            (click)="curriculumTopicAddForm()" mdbWavesEffect>
      <mdb-icon fas icon="plus" size="lg"></mdb-icon>
    </button>
    <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
            (click)="curriculumTopicEditForm(item)" mdbWavesEffect>
      <mdb-icon fas icon="edit" size="lg"></mdb-icon>
    </button>
    <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
            (click)="deleteCurriculumTopicTrainingProgram(item.curriculumTopicTrainingProgramId, i)" mdbWavesEffect>
      <mdb-icon fas icon="times" size="lg"></mdb-icon>
    </button>
  </div>
</div>
