<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <li [routerLink]="['/' + globals.role +'/trainingProgramAddFormIntroduction', id]" routerLinkActive="active">
        <a>
          <span class="circle">0</span>
          <span class="label">Введение</span>
        </a>
      </li>

      <!-- First Step -->
      <li [routerLink]="['/' + globals.role +'/trainingProgramAddForm', id]" routerLinkActive="active">
        <a>
          <span class="circle">1</span>
          <span class="label">Темы учебной программы</span>
        </a>
      </li>

      <!-- Second Step -->
      <li [routerLink]="['/' + globals.role +'/trainingProgramAddForm2', id]" routerLinkActive="active">
        <a>
          <span class="circle">2</span>
          <span class="label">Вопросы для итоговой аттестации</span>
        </a>
      </li>

      <!-- Third Step -->
      <li [routerLink]="['/' + globals.role +'/trainingProgramAddForm3', id]" routerLinkActive="active">
        <a>
          <span class="circle">3</span>
          <span class="label">Основная литература</span>
        </a>
      </li>

      <!-- Fourth Step -->
      <li [routerLink]="['/' + globals.role +'/trainingProgramAddForm4', id]" routerLinkActive="active">
        <a>
          <span class="circle">4</span>
          <span class="label">Дополнительная литература</span>
        </a>
      </li>

      <!-- Fifth Step -->
      <li [routerLink]="['/' + globals.role +'/trainingProgramAddForm5', id]" routerLinkActive="active">
        <a>
          <span class="circle">5</span>
          <span class="label">Нормативные правовые акты</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->
