<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Помещения</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-textarea">
        <label for="roomName">Название</label>
        <textarea id="roomName" type="text" class="md-textarea md-textarea-auto form-control"
                  formControlName="roomName" mdbInput mdbValidate [validateSuccess]="false"></textarea>
        <mdb-error *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)"></mdb-error>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="saveRoom()">Сохранить
    </button>
  </div>
</div>
