<style>
  .e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::before , .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::before,.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before ,.e-input-group.e-control-wrapper:not(.e-disabled):not(.e-float-icon-left)::before {
    background:#4285f4!important;
  }

  .e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::after,.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after {
    background:#4285f4!important;
  }
</style>

<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Группа</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <label for="groupNumber">Номер группы</label>
        <input id="groupNumber" type="text" class="form-control" formControlName="groupNumber" mdbInput mdbValidate
               [validateSuccess]="false">
        <mdb-error *ngIf="groupNumber.invalid && (groupNumber.dirty || groupNumber.touched)">Обязательно для заполнения</mdb-error>
      </div>
      <label for="trainingProgramId">Программа</label>
      <select class="browser-default custom-select" id="trainingProgramId" formControlName="trainingProgramId" mdbValidate [validateSuccess]="false">
        <option value="" disabled>Выберите учебную программу</option>
        <option *ngFor="let el of trainingPrograms" [ngValue]="el.id">{{el.name}}</option>
      </select>
      <mdb-error *ngIf="trainingProgramId.invalid && (trainingProgramId.dirty || trainingProgramId.touched)"></mdb-error>
      <br><br>

      <div class="form-item" *ngIf="form.get('calendarYear') as calendarYear">
      <ejs-datepicker id="calendarYear" formControlName="calendarYear" format="yyyy" start="Decade" depth="Decade" placeholder="Календарный год">
      </ejs-datepicker>
        <div *ngIf="calendarYear.invalid && (calendarYear.dirty || calendarYear.touched)" class="e-error">
          <div *ngIf="calendarYear.errors.required">
            Введите календарный год
          </div>
          <div *ngIf="calendarYear.errors.max">
            You have entered {{ calendarYear.value | date : 'MM/dd/yyyy' }}.
          </div>
        </div>
      </div>

      <div class="form-item" *ngIf="form.get('classStartDate') as control">
      <ejs-datepicker id="classStartDate" formControlName="classStartDate" format="dd MMMM yyyy" placeholder="Дата начала"></ejs-datepicker>
        <div *ngIf="control.invalid && (control.dirty || control.touched)" class="e-error">
        <div *ngIf="control.errors.required">
          Введите дату начала.
        </div>
        </div>
      </div>

        <div class="form-item" *ngIf="form.get('classEndDate') as control">
      <ejs-datepicker id="classEndDate" formControlName="classEndDate" format="dd MMMM yyyy" placeholder="Дата конца"></ejs-datepicker>
          <div *ngIf="control.invalid && (control.dirty || control.touched)" class="e-error">
        <div *ngIf="control.errors.required">
          Введите дату конца.
        </div>
          </div>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="editRow()">Сохранить
    </button>
  </div>
</div>
