<h1>Группы</h1>
<div class="row">
  <div class="col-sm-2">
    <app-curriculum-topic-list></app-curriculum-topic-list>
  </div>
  <div class="col-sm">
    <div class="addButton">
      <button routerLink="/groupAdd" type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
        <mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
    </div>
    <table *ngIf="tableMode; else create" class="table table-striped">
      <thead>
      <tr>
        <td>Тема</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of values">
        <ng-template [ngIf]="value?.id != p.id" [ngIfElse]="edit">
          <td>{{p?.theTopicOfContinuingEducation}}</td>
          <td>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>

    <!--шаблон для редактирования-->
    <ng-template #edit>
      <td>
        <input type="text" [(ngModel)]="value.theTopicOfContinuingEducation" class="form-control" />
      </td>
      <td>

      </td>
    </ng-template>

    <!--шаблон для добавления-->
    <ng-template #create>
      <div class="form-group">
        <label>Модель</label>
        <input type="text" [(ngModel)]="value.theTopicOfContinuingEducation" class="form-control" />
      </div>
      <div>

      </div>
    </ng-template>

  </div>
</div>
