<style>
  .e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::before , .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::before,.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before ,.e-input-group.e-control-wrapper:not(.e-disabled):not(.e-float-icon-left)::before {
    background:#4285f4!important;
  }

  .e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::after,.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after {
    background:#4285f4!important;
  }
</style>

<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Группа</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <label for="groupNumber">Номер группы</label>
        <input id="groupNumber" type="text" class="form-control" formControlName="groupNumber" mdbInput mdbValidate
               [validateSuccess]="false">
        <mdb-error *ngIf="groupNumber.invalid && (groupNumber.dirty || groupNumber.touched)">Обязательно для заполнения</mdb-error>
      </div>
      <label for="trainingProgramId">Программа</label>
      <select class="browser-default custom-select" id="trainingProgramId" formControlName="trainingProgramId" mdbValidate [validateSuccess]="false">
        <option value="" disabled>Выберите учебную программу</option>
        <option *ngFor="let el of trainingPrograms" [ngValue]="el.id">{{el.name}}</option>
      </select>
      <mdb-error *ngIf="trainingProgramId.invalid && (trainingProgramId.dirty || trainingProgramId.touched)"></mdb-error>
      <br><br>

      <div class="form-item" *ngIf="form.get('calendarYear') as control">
        <mat-form-field appearance="fill">
          <mat-label>Введите календарный год</mat-label>
          <input matInput [formControl]="control" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year"></mat-datepicker>
          <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
            Обязательно для заполнения
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-item datepicker-inline" *ngIf="form.get('classStartDate') as control">
        <mat-form-field appearance="fill">
          <mat-label>Выберите дату начала</mat-label>
          <input matInput [formControl]="control" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
            Обязательно для заполнения
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item datepicker-inline" *ngIf="form.get('classEndDate') as control">
        <mat-form-field appearance="fill">
          <mat-label>Выберите дату окончания</mat-label>
          <input matInput [formControl]="control" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
            Обязательно для заполнения
          </mat-error>
        </mat-form-field>
      </div>

      <mat-error *ngIf="form.errors?.calendarYearValidator">
        Даты начала и окончания должны быть в пределах одного календарного года!
      </mat-error>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="editRow()">Сохранить
    </button>
  </div>
</div>
