<div class="container-fluid">
  <h1>Создать новую группу</h1>
    <br>
  <form [formGroup]="form">
<div class="modal-body">
  <div class="row">

      <div class="col-sm-2">
        <h4><b>Номер группы</b></h4>
          <input type="number" class="form-control" id="second" formControlName="second">
      </div>

      <div class="col-sm-2">
        <h4><b>Календарный год</b></h4>
        <input type="date" class="form-control grey-text" id="third" formControlName="third">
      </div>

      <div class="col-sm">
        <h4><b>Тема повышения квалификации</b></h4>
          <input type="text" class="form-control grey-text" id="fourth" formControlName="fourth">
      </div>

      <div class="col-sm">
        <h4><b>Форма получения образования</b></h4>
        <select class="browser-default custom-select" id="fifth" formControlName="fifth" [value]="0">
          <option value="0">Выберите форму получения образования</option>
          <option *ngFor="let el of formOfEducations" [ngValue]="el.id" >{{el.name}}</option>
        </select>
      </div>
    </div>
  <br>

    <div class="row">

      <div class="col-sm">
        <h4><b>Дата начала занятий</b></h4>
          <input type="date" class="form-control grey-text" id="sixth" formControlName="sixth">
      </div>

      <div class="col-sm">
        <h4><b>Дата окончания занятий</b></h4>
          <input type="date" class="form-control grey-text" id="seventh" formControlName="seventh">
      </div>

      <div class="col-sm">
        <h4><b>Количество часов</b></h4>
          <input type="number" class="form-control grey-text" id="eight" formControlName="eight">
      </div>
    </div>
    <br>

    <div class="row">

      <div class="col-sm">
        <h4><b>Категория педагогов</b></h4>
          <input type="text" class="form-control">
      </div>

      <div class="col-sm">
        <h4><b>Квалификационная категория</b></h4>
        <select class="browser-default custom-select" id="ninth" formControlName="ninth">
          <option>hh</option>
        </select>
      </div>

      <div class="col-sm">
        <h4><b>Категория интерактивного модуля</b></h4>
        <select class="browser-default custom-select" id="tenth" formControlName="tenth">
          <option >hh</option>
        </select>
      </div>
    </div>
    <br>
</div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
              [disabled]="form.invalid" >Сохранить
      </button>
    </div>
  </form>
</div>

