.container {
  height: 100%;
  width:100%;
  font-size: 0;
}
.normalCheckBox {
  padding: 20px;
}
.left, .middle, .right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}
.left {
  width: 40%;
}
.middle {
  width: 20%;
  text-align: -webkit-center;
}
.right {
  width: 40%;
}

mat-dialog-container{
  overflow: visible !important;
}

mat-form-field{
  width: 100%;
}
