<button mat-icon-button class="close-dialog-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>

<h1 mat-dialog-title>{{data.title}}</h1>

<div style="overflow: visible !important;">
  <form [formGroup]="form">

    <div class="md-form" *ngIf="groups.length !== 0">
      <ng-select mdbValidate [items]="this.groups" [clearable]="false"
                 formControlName="groupId"
                 bindValue="id"
                 bindLabel="groupNumber"
                 placeholder="Группа">
      </ng-select>
      <mat-error *ngIf="groupId.invalid && (groupId.dirty || groupId.touched)">Обязательно для заполнения</mat-error>
      <!--      <div style="color: red" *ngIf="groupId.invalid && (groupId.dirty || groupId.touched)">Обязательно для заполнения</div>-->
      <!--      <mdb-error *ngIf="groupId.invalid && (groupId.dirty || groupId.touched)">Обязательно для заполнения</mdb-error>-->
    </div>


    <div *ngIf="form.get('date') as date">
      <mat-form-field appearance="fill">
        <mat-label>Дата проведения</mat-label>
        <input matInput [matDatepickerFilter]="sundayDatesFilter" [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">Обязательно для заполнения</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="form.get('subgroup') as subgroup">
      <mat-form-field>
        <mat-label>Подгруппа</mat-label>
        <mat-select formControlName="subgroup">
          <mat-option [value]="0">
            Вся группа
          </mat-option>
          <mat-option [value]="1">
            Первая подгруппа
          </mat-option>
          <mat-option [value]="2">
            Вторая подгруппа
          </mat-option>
        </mat-select>
        <mat-error *ngIf="subgroup.invalid && (subgroup.dirty || subgroup.touched)">Обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div style="width: 23vh;" *ngIf="form.get('timeId') as timeField">
      <mat-form-field>
        <mat-label>Время</mat-label>
        <mat-select formControlName="timeId">
          <ng-container *ngIf="dayOfTheWeek() === 1">
            <mat-optgroup [label]="'Первая смена(понедельник)'">
              <mat-option *ngFor="let time of parsedTimes.mondayFirstShift" [value]="time.id">
                {{time.classTimeStart | date:'HH:mm'}} - {{time.classTimeEnd | date:'HH:mm'}}
                {{time.secondTimeStart | date:'HH:mm'}} - {{time.secondTimeEnd | date:'HH:mm'}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="'Вторая смена(понедельник)'">
              <mat-option *ngFor="let time of parsedTimes.mondaySecondShift" [value]="time.id">
                {{time.classTimeStart | date:'HH:mm'}} - {{time.classTimeEnd | date:'HH:mm'}}
                {{time.secondTimeStart | date:'HH:mm'}} - {{time.secondTimeEnd | date:'HH:mm'}}
              </mat-option>
            </mat-optgroup>
          </ng-container>
          <ng-container *ngIf="dayOfTheWeek() >= 2 && dayOfTheWeek() <= 6">
            <mat-optgroup [label]="'Первая смена'">
              <mat-option *ngFor="let time of parsedTimes.genericFirstShift" [value]="time.id">
                {{time.classTimeStart | date:'HH:mm'}} - {{time.classTimeEnd | date:'HH:mm'}}
                {{time.secondTimeStart | date:'HH:mm'}} - {{time.secondTimeEnd | date:'HH:mm'}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="'Вторая смена'">
              <mat-option *ngFor="let time of parsedTimes.genericSecondShift" [value]="time.id">
                {{time.classTimeStart | date:'HH:mm'}} - {{time.classTimeEnd | date:'HH:mm'}}
                {{time.secondTimeStart | date:'HH:mm'}} - {{time.secondTimeEnd | date:'HH:mm'}}
              </mat-option>
            </mat-optgroup>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="timeField.invalid && (timeField.dirty || timeField.touched)">Обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="curriculumTopicTrainingPrograms.length !== 0">
      <mat-form-field>
        <mat-label>
          Тема
        </mat-label>
        <input
          placeholder="Тема"
          aria-label="Выберите тему"
          matInput
          [formControl]="topicId"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayTopic.bind(this)">
          <mat-option *ngFor="let option of curriculumTopicTrainingPrograms" [value]="option.id">
            {{option.topicTitle}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="topicId.invalid || topicId.errors?.requireMatchTopic && (topicId.dirty || topicId.touched)">
          Обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="teachers.length !== 0">
      <mat-form-field>
        <mat-label id="qwe"
                   style="backface-visibility: hidden !important; transform: translateZ(0) !important; display: flex; align-items: center">
          Преподаватель
        </mat-label>
        <input
          placeholder="Преподаватель"
          aria-label="Выберите преподавателя"
          matInput
          [formControl]="teacherId"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayTeacher.bind(this)">
          <mat-option *ngFor="let option of teachers" [value]="option.id">
            {{option.fullNameForm}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="teacherId.invalid || teacherId.errors?.requireMatchTeacher && (teacherId.dirty || teacherId.touched)">
          Обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="rooms.length !== 0">
      <mat-form-field>
        <mat-label>
          Аудитория
        </mat-label>
        <input
          placeholder="Выберите аудиторию"
          aria-label="Выберите аудиторию"
          matInput
          [formControl]="roomId"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayRoom.bind(this)">
          <mat-option *ngFor="let option of rooms" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="roomId.invalid || roomId.errors?.requireMatchRoom && (roomId.dirty || roomId.touched)">
          Обязательно для заполнения
        </mat-error>
      </mat-form-field>

    </div>
  </form>
</div>
<button mat-button (click)="qwe()">view</button>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="save()" [disabled]="form.invalid" cdkFocusInitial>Сохранить</button>
</div>
