<!--<p>schedule-block works!</p>-->
<!--<div *ngFor = "let item of curriculumTopicTrainingPrograms, index as i">-->
<!--  <h4>{{i + 1}}. {{item.topicTitle}}</h4>-->
<!--</div>-->

<ng-select *ngIf="groups.length !== 0" [items]="this.groups" [clearable]="false"
           id = "Subject"
           (change)="selectTopic()"
           bindValue=""
           bindLabel="groupNumber"
           [(ngModel)]="elementData.groupNumber"
           placeholder="Группа">
</ng-select>

<table width="100%">
  <tr>
    <td>
      <ejs-datetimepicker placeholder="Дата начала" [(ngModel)]="elementData.startTime">

      </ejs-datetimepicker>
    </td>
    <td>
      <ejs-datetimepicker placeholder="Дата конца" [(ngModel)]="elementData.endTime">

      </ejs-datetimepicker>
    </td>
  </tr>
</table>

<div class="normalCheckBox">
  <mdb-checkbox (change)="MergeWithSubGroup('divideSubGroups', $event.checked)">Разделить по подгруппам</mdb-checkbox>
</div>


<div class="container" *ngIf="curriculumTopicTrainingPrograms.length !== 0">
  <div class="left">
    <ng-select [items]="this.curriculumTopicTrainingPrograms" [clearable]="false"
               (change)="selectTopic()"
               bindValue="topicTitle"
               bindLabel="topicTitle"
               [(ngModel)]="elementData.topicTitle"
               placeholder="Тема">
    </ng-select>
  </div>
  <div class="middle" >
    <div class="mergeButton">
      <button *ngIf="divideSubGroups"
              type="button" mdbBtn color="primary" class="relative waves-light" size="sm" (click)="MergeWithSubGroup('combineTopic')"
              mdbWavesEffect><mdb-icon fas icon="sign-in-alt" size="lg"></mdb-icon></button>
    </div>
  </div>
  <div class="right" >
    <ng-select [items]="this.curriculumTopicTrainingPrograms" [clearable]="false" [disabled]="!combineTopic" *ngIf="divideSubGroups"
               (change)="selectTopic()"
               bindValue=""
               bindLabel="topicTitle"
               [(ngModel)]="selectedTopicAux"
               placeholder="Тема">
    </ng-select>
  </div>
</div>

<div class="container" *ngIf="teachers.length !== 0">
  <div class="left">
    <ng-select [items]="this.teachers" [clearable]="false"
               (change)="selectTopic()"
               bindValue=""
               bindLabel="fullNameForm"
               [(ngModel)]="elementData.teacherFullName"
               placeholder="Преподаватель">
    </ng-select>
  </div>
  <div class="middle">
    <button *ngIf="divideSubGroups"
      type="button" mdbBtn color="primary" class="relative waves-light" size="sm" (click)="MergeWithSubGroup('combineTeacher')"
      mdbWavesEffect><mdb-icon fas icon="sign-in-alt" size="lg"></mdb-icon></button>
  </div>
  <div class="right" >
    <ng-select [items]="this.teachers" [clearable]="false" [disabled]="!combineTeacher" *ngIf="divideSubGroups"
               (change)="selectTopic()"
               bindValue=""
               bindLabel="fullNameForm"
               [(ngModel)]="selectedTeacherAux"
               placeholder="Преподаватель">
    </ng-select>
  </div>
</div>

<div class="container" *ngIf="rooms.length !== 0">
  <div class="left">
    <ng-select [items]="this.rooms" [clearable]="false"
               (change)="selectTopic()"
               bindValue=""
               bindLabel="name"
               [(ngModel)]="elementData.roomName"
               placeholder="Преподаватель">
    </ng-select>
  </div>
  <div class="middle">
    <button *ngIf="divideSubGroups"
            type="button" mdbBtn color="primary" class="relative waves-light" size="sm" (click)="MergeWithSubGroup('combineRoom')"
            mdbWavesEffect><mdb-icon fas icon="sign-in-alt" size="lg"></mdb-icon></button>
  </div>
  <div class="right">
    <ng-select [items]="this.rooms" [clearable]="false" [disabled]="!combineRoom" *ngIf="divideSubGroups"
               (change)="selectTopic()"
               bindValue=""
               bindLabel="name"
               [(ngModel)]="selectedRoomAux"
               placeholder="Преподаватель">
    </ng-select>
  </div>
</div>
