<p>schedule-block works!</p>
<div *ngFor = "let item of curriculumTopicTrainingPrograms, index as i">
  <h4>{{i + 1}}. {{item.topicTitle}}</h4>
</div>
<ng-select *ngIf="curriculumTopicTrainingPrograms.length !== 0" [items]="this.curriculumTopicTrainingPrograms" [clearable]="false"
           (change)="selectTopic()"
           bindValue=""
           bindLabel="topicTitle"
           [(ngModel)]="selectedTopic"
           placeholder="Связь учетной записи и преподавателя">
</ng-select>

<input *ngIf="selectedTopic">

<ng-select *ngIf="curriculumTopicTrainingPrograms.length !== 0" [items]="this.curriculumTopicTrainingPrograms" [clearable]="false"
           (change)="selectTopic()"
           bindValue=""
           bindLabel="topicTitle"
           [(ngModel)]="selectedTopic"
           placeholder="Связь учетной записи и преподавателя">
</ng-select>
