<div class="example-container">
  <h4><strong>Раздел {{curriculumSectionNumber}}</strong></h4>
  <h5 *ngIf="trainingProgramCurriculumSectionSelect"><strong>{{trainingProgramCurriculumSectionSelect.name}}</strong></h5>
  <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
          mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить название раздела</button>
  <ng-select [items]="trainingProgramCurriculumSections" [clearable]="false"
             (change)="updateTrainingProgramCurriculumSection()"
             bindValue=""
             bindLabel="name"
             placeholder="Выберите рездел">
             [(ngModel)]="trainingProgramCurriculumSectionSelect">
  </ng-select>


  <app-max-variable-topic-hours></app-max-variable-topic-hours>

  <div
    *ngIf="done"
    cdkDropList
    [cdkDropListData]="done"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <button *ngIf="done.length === 0" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
            mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить тему</button>
    <br>
    <div class="example-box"  *ngFor="let item of done; index as i" cdkDrag>
      <app-curriculum-topic-child [i]="i" [item]="item"></app-curriculum-topic-child>
    </div>
  </div>
</div>
