<div class="control-section">
  <div class="col-lg-12 content-wrapper" *ngIf="loaded">

    <ejs-schedule  #scheduleObj width='100%' cssClass='timeline-resource' height='800px'
                   [workDays]='workWeekDays' [showWeekend]="showWeekend"
                   [workHours]="workHours" [startHour]='startHour' [endHour]='endHour'
                   [timeScale]="timeScale" [timeFormat]="timeFormat" [rowAutoHeight]="rowAutoHeight"
                   [selectedDate]="selectedDate" [currentView]="currentView" [group]="groupResource"
                   [eventSettings]="eventSettings"
                   [locale]="culture"
                   (eventRendered)="onEventRendered($event)"
                   (actionBegin)="onActionBegin($event)"
                   (renderCell)="onRenderCell($event)"
                   (popupOpen)="onPopupOpen($event)"
                   (popupClose)="onPopupClose($event)">
      <e-resources>
        <e-resource field='roomId' title='Room Type' [dataSource]='convertedRooms' [allowMultiple]='allowMultiple' name='MeetingRoom'
                    textField='text' idField='id' colorField='color'>
        </e-resource>
      </e-resources>
      <e-views>
        <e-view option="TimelineDay">
          <ng-template #eventTemplate let-data>
            <div [style.background]="getHeaderStyles(data)">
              Группа: {{data.group}}
              <br>
              {{data.startTime | date : 'HH:mm'}} - {{data.endTime | date : 'HH:mm'}}
            </div>
          </ng-template>
        </e-view>
        <e-view option="TimelineWeek">
          <ng-template #eventTemplate let-data>
            <div [style.background]="getHeaderStyles(data)">
              Группа: {{data.group}}
              <br>
              {{data.startTime | date : 'HH:mm'}} - {{data.endTime | date : 'HH:mm'}}
            </div>
          </ng-template>
        </e-view>
        <e-view option='Month'></e-view>
      </e-views>
      <ng-template #eventTemplate let-data>
        <div [style.background]="getHeaderStyles(data)">
          Группа: {{data.group}}
          <br>
          {{data.startTime | date : 'HH:mm'}} - {{data.endTime | date : 'HH:mm'}}
        </div>
      </ng-template>
      <!-- Header template -->
      <ng-template #quickInfoTemplatesHeader let-data>
        <div class="quick-info-header">
          <div class="quick-info-header-content" [ngStyle]="getHeaderStyles(data)">
            <div class="quick-info-title"><h5>{{(data.elementType === 'cell') ? 'Добавить событие' : 'Детали события'}}</h5></div>
            <div class="duration-text">{{data.startTime| date : 'dd.MM.yyyy (HH:mm)' }}</div>
          </div>
        </div>
      </ng-template>
      <!-- Content Template -->
      <ng-template #quickInfoTemplatesContent let-data>
        <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? cellContent : eventContent"
                      [ngTemplateOutletContext]="{data:data}"></ng-container>
      </ng-template>
      <ng-template #cellContent let-data="data">
        <div class="quick-info-content">
          <div class="e-cell-content">
            <div class="content-area">
              <ejs-textbox #titleObj id="title" placeholder="Title">qwe</ejs-textbox>
            </div>
            <div class="content-area">
            </div>
            <div class="content-area">
              <ejs-textbox #notesObj id="notes" placeholder="Notes"></ejs-textbox>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #eventContent let-data="data">
        <div class="quick-info-content">
          <div class="event-content">
            <div class="meeting-type-wrap">
              <label>Группа</label>:
              <span>{{data.group}}</span>
            </div>
            <div class="meeting-subject-wrap">
              <label>Преподаватель</label>:
              <span>{{data.teacher}}</span>
            </div>
            <div class="notes-wrap">
              <label>Тема</label>:
              <span>{{data.topic}}</span>
            </div>
          </div>
        </div>
        <div class="e-event-footer" style="text-align: right; margin-top: 20px">
          <button style="border: none; background: none; margin-left: 5px"
                  id="delete" cssClass="e-flat" (click)="buttonClickActions($event)"><h5>Удалить</h5></button>
          <button style="border: none; background: none; margin-left: 5px"
                  id="more-details" cssClass="e-flat"
                  (click)="buttonClickActions($event)"><h5>Детали</h5></button>
        </div>
      </ng-template>
      <!-- Editor Template -->
      <ng-template #editorTemplate let-data>
        <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
          <tbody>
          <tr>
            <td>
<!--              <app-schedule-block [scheduleElement]="scheduleBlock" [rooms]="roomData" [elementData]="data"></app-schedule-block>-->
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>

    </ejs-schedule>
  </div>
</div>

