<div class="control-section">
  <div class="col-lg-12 content-wrapper">
    <ejs-schedule *ngIf="eventSettings" #scheduleObj width='100%' cssClass='timeline-resource' height='800px'
                  [workDays]='workWeekDays' [showWeekend]="showWeekend"
                  [workHours]="workHours" [startHour]='startHour' [endHour]='endHour'
                  [timeScale]="timeScale" [timeFormat]="timeFormat"
                  [selectedDate]="selectedDate" [currentView]="currentView" [group]="group"
                  [eventSettings]="eventSettings"
                  locale='fr-CH'
                  (eventRendered)="onEventRendered($event)"
                  (actionBegin)="onActionBegin($event)"
                  (renderCell)="onRenderCell($event)"
                  (popupOpen)="onPopupOpen($event)"
                  (popupClose)="onPopupClose($event)">
      <e-resources>
        <e-resource field='RoomId' title='Room Type' [dataSource]='roomData' [allowMultiple]='allowMultiple' name='MeetingRoom'
                    textField='text' idField='id' colorField='color'>
        </e-resource>
      </e-resources>
      <e-views>
        <e-view option="TimelineDay"></e-view>
        <e-view option="TimelineWeek"></e-view>
        <e-view option='Month'></e-view>
      </e-views>
      <ng-template #resourceHeaderTemplate let-data>
        <div class='template-wrap'>
          <div class="name">{{data.resourceData.text}}</div>
        </div>
      </ng-template>

      <ng-template #editorTemplate let-data>
        <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
          <tbody>
          <tr>
            <td>
              <app-schedule-block [scheduleBlock]="scheduleBlock"></app-schedule-block>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>

    </ejs-schedule>
  </div>
</div>

