<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Добавление кафедры для преподавателя</h4>
  </div>
  <div class="modal-body">
    <ng-select
      [items]="departments"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Выберите кафедры"
      [(ngModel)]="selectedDepartments">
    </ng-select>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            (click)="save()">Сохранить
    </button>
  </div>
</div>

