<div class="container-fluid">
  <div class="backButton">
    <button [routerLink]="'/' + globals.role +'/trainingProgram'" type="button" size="sm" mdbBtn color="primary"
            class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon>
      Выход
    </button>
  </div>
  <br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4><br>
  <h5 *ngIf="trainingProgram">Тип итоговой аттестации: <strong>{{certificationType.name}}</strong></h5>

  <app-training-program-stepper *ngIf="trainingProgram" [id]="id"
                                [isDistanceLearning]="trainingProgram.isDistanceLearning"></app-training-program-stepper>

  <ng-container *ngIf="certificationType.id === 5">
    <app-business-game-form
      [trainingProgram]="trainingProgram"
      [certificationType]="certificationType"
    ></app-business-game-form>
  </ng-container>
  <ng-container *ngIf="certificationType.id !== 5 && certificationType.id != undefined">
    <app-questions-form [training-program]="trainingProgram" [certification-type]="certificationType"></app-questions-form>
  </ng-container>

  <button type="button" [routerLink]="['/' + globals.role +'/trainingProgramMainStep', id]"
          mdbBtn color="primary" size="sm" class="relative waves-light" mdbWavesEffect>Назад
  </button>
  <button type="button" [routerLink]="['/' + globals.role +'/trainingProgramMainLiteratureStep', id]"
          mdbBtn color="primary" size="sm" class="relative waves-light" mdbWavesEffect>Далее
  </button>
  <br>
</div>
