<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="">Электронный МОИРО</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" routerLink="/home">
        <a class="nav-link waves-light" mdbWavesEffect>Секретная страница
          <span class="sr-only" >(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="/curriculumTopic">
        <a class="nav-link waves-light" mdbWavesEffect>Программы учебных занятий</a>
      </li>

      <!-- Dropdown -->
      <!--<li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Авторизация</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/register">Регистрация</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="userLogout()" href="#">Выйти</a>
        </div>
      </li> -->

    </ul>

    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" routerLink="/login">Авторизация</a>
              <a class="dropdown-item" routerLink="/register">Регистрация</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)="userLogout()" href="#">Выйти</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="main">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small primary-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Form -->
        <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
          <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        </form>
        <!-- Form -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Sign up</button>
          </div>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://moiro.by/"> Электронный МОИРО</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
