<h1>Schedule</h1>

<div class="row">
  <div class="col-sm-2">
    <app-curriculum-topic-list></app-curriculum-topic-list>
  </div>
  <div class="col-sm">
    <button size="sm" type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            (click)="addRoom()">Добавить Комнату
    </button>
    <app-syncfusion-room-scheduler
      *ngIf="roomData && scheduleData"
      [roomData]="roomData"
      [scheduleData]="scheduleData"
    >
    </app-syncfusion-room-scheduler>
  </div>
</div>
