th, td {
  border-top: none;
  border-bottom: 1px solid black;
}

td {
  border-top: none;
  border-bottom: 1px solid black;
}

.mainSchedule {
  border-collapse: separate;
  border-spacing: 10px 0px;
  width: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.settings-full {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-icon.icon-right {
  margin-left: auto;
  margin-right: 0;
}

div.set-el {
  display: inline-block;
  margin: 0 10px;
}

.ng-select-align-top{
  vertical-align: top;
  margin-top: 1px;
}

div.set-el > button{
  vertical-align: text-top;
}

div.set-el > ng-select{
  max-width: 600px;
  min-width: 300px;
}

div.fillable {
  height: 0;
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.fill:hover {
  box-shadow: inset 0 0 4px 0px green, 0 0 0px 1px green;;
}

::ng-deep.mat-menu-panel {
  max-width:none  !important;
  width: 500px;
}

h1, h2 {
  line-height: 1.45;
  margin: 0;
}
h3, h4, h5, h6{
  line-height: 1.45;
  margin: 0 0 5px;
}



