<h1>Расписание</h1>

<div class="row">
  <div class="col-sm-2">
    <app-curriculum-topic-list></app-curriculum-topic-list>
  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent
                 let-cell="cell"
                 let-menuTrigger="menuTrigger">
      <div style="font-size: 11pt; margin: 10px" (click)="$event.stopPropagation();">
        <div style="text-align: center;">
          <h2 style="background: #4285f4">Занятие</h2>
          <div style="background:whitesmoke; text-align: center; line-height: 1.10;">
            {{cell.date | date : 'dd.MM.yyyy'}}<br>
            {{cell.time.classTimeStart | date:'HH:mm'}} - {{cell.time.classTimeEnd | date:'HH:mm'}}<br>
            {{cell.time.secondTimeStart | date:'HH:mm'}} - {{cell.time.secondTimeEnd | date:'HH:mm'}}<br>
          </div>
        </div>
        <div style="margin: 15px 10px">
          <h6><strong>Группа:</strong> ПК - {{cell.group}}  <strong>Кабинет:</strong> {{cell.room}}</h6>
          <h6><strong>Преподаватель:</strong> {{formatTeacherName(cell.teacher)}}</h6>
          <h6><strong>Тема:</strong> {{cell.topic}}</h6>
        </div>
        <div style="text-align: right">
          <!--              <button mat-menu-item (click)="menuTrigger.closeMenu();">close</button>-->
          <button style="margin: 0px 5px"
                  (click)="deleteScheduleBlock(cell);menuTrigger.closeMenu();"
                  mat-flat-button color="warn">Удалить
          </button>
          <button style="margin: 0px 5px"
                  (click)="onCellClick('Редактирование занятия', cell);menuTrigger.closeMenu();"
                  mat-flat-button color="primary">Редактировать
          </button>
          <button style="margin: 0px 5px"
                  (click)="onCellClick('Новое занятие');menuTrigger.closeMenu();"
                  mat-flat-button color="primary">Добавить новую запись
          </button>
        </div>
      </div>
    </ng-template>
  </mat-menu>

  <div class="col-sm">
    <div class="settings-full">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Расписание для:
            {{settings.value.start | date : 'dd.MM.yyyy'}} -
            {{settings.value.end | date : 'dd.MM.yyyy'}}
          </mat-panel-title>
          <mat-panel-description>
            Настройки расписания!
            <mat-icon class="icon-right">settings</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="set-el">
          <mat-form-field appearance="fill">
            <mat-label>Выберете промежуток</mat-label>
            <mat-date-range-input [formGroup]="settings" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Начальная дата">
              <input matEndDate formControlName="end" placeholder="Конечная Дата">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="set-el" style="vertical-align: sub" [formGroup]="settings">
          <mat-form-field>
            <mat-label>Смена</mat-label>
            <mat-select formControlName="shift">
              <mat-option [value]="0">
                Обе смены
              </mat-option>
              <mat-option [value]="1">
                Первая смена
              </mat-option>
              <mat-option [value]="2">
                Вторая смена
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="set-el ng-select-align-top">
          <div class="set-el">
            <ng-select mdbValidate [clearable]="true"
                       placeholder="Поиск"
                       [appendTo]="'body'"
                       [(ngModel)]="selectedFilter">
              <ng-option *ngFor="let option of this.groups" [value]="{type: 'group', data: option}">ПК
                - {{option.groupNumber}}</ng-option>
              <ng-option *ngFor="let option of this.teachers"
                         [value]="{type: 'teacher', data: option}">{{option.fullNameForm}}</ng-option>
              <ng-option *ngFor="let option of this.roomData" [value]="{type: 'room', data: option}">
                Аудитория {{option.name}}</ng-option>
            </ng-select>
          </div>
          <div class="set-el">
            <button mat-mini-fab color="primary" name="loadingButton" (click)="search()">
              <!--              (click)="applySearch()"-->
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Неделя">
        <ng-template matTabContent>
          <!--          <ng-container *ngIf="showSpinner" >-->
          <!--            <div *ngIf="showSpinner" class="spinner">-->
          <!--              <mat-spinner></mat-spinner>-->
          <!--            </div>-->
          <!--          </ng-container>-->
          <div style="display: table">
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowBackward()">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
            </div>
            <div *ngIf="showSpinner" class="spinner">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!showSpinner" style="display: table-cell; width: 100%; vertical-align: middle">
              <div class="row-eq-height">
                <table class="mainSchedule">
                  <thead>
                  <tr style="text-align: center">
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                  </tr>
                  </thead>
                  <tr>
                    <td class="fillable" *ngFor="let col of timedWeekGeneric"
                        style="height: 50px; vertical-align: top;">
                      <div class="fill" (click)="onCellClick('Новое занятие',{date: col.date});">
                        <div *ngFor="let cell of col.scell" class="cellWrap">
                          <app-schedule-cell [scheduleElement]="cell"
                                             [matMenuTriggerFor]="menu"
                                             [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                             #menuTrigger="matMenuTrigger"
                                             (click)="$event.stopPropagation()"
                          ></app-schedule-cell>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowForward()">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Неделя (с разделением по времени)">
        <ng-template matTabContent>
          <!--          <ng-container *ngIf="showSpinner" >-->
          <!--            <div class="spinner">-->
          <!--              <mat-spinner></mat-spinner>-->
          <!--            </div>-->
          <!--          </ng-container>-->
          <div style="display: table">
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowBackward()">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
            </div>
            <div *ngIf="showSpinner" class="spinner">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!showSpinner" style="display: table-cell; width: 100%; vertical-align: middle">
              <div class="row-eq-height">
                <table class="mainSchedule" style="max-width: 300px">
                  <thead>
                  <tr style="text-align: center;">
                    <th>Время\День</th>
                    <th>Понедельник</th>
                  </tr>
                  </thead>
                  <ng-container *ngIf="this.settings.value.shift !==2">
                    <tr>
                      <td colspan="999" class="shiftCell">
                        <h5>Первая смена</h5>
                      </td>
                    </tr>
                    <tr *ngFor="let row of this.timedMondayFirstShift">
                      <td class="timeColumn"> {{row.rowTime.classTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.classTimeEnd | date:'HH:mm'}}<br>
                        {{row.rowTime.secondTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.secondTimeEnd | date:'HH:mm'}}</td>
                      <td style="height: 0" *ngFor="let col of row.scol">

                        <div class="fill" (click)="onCellClick('Новое занятие')">
                          <div *ngFor="let cell of col.scell" class="cellWrap">
                            <app-schedule-cell [scheduleElement]="cell"
                                               [matMenuTriggerFor]="menu"
                                               [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                               #menuTrigger="matMenuTrigger"
                                               (click)="$event.stopPropagation()"
                            ></app-schedule-cell>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="this.settings.value.shift !==1">
                    <tr>
                      <td colspan="999" class="shiftCell">
                        <h5>Вторая смена</h5>
                      </td>
                    </tr>
                    <tr *ngFor="let row of this.timedMondaySecondShift">
                      <td class="timeColumn"> {{row.rowTime.classTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.classTimeEnd | date:'HH:mm'}}<br>
                        {{row.rowTime.secondTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.secondTimeEnd | date:'HH:mm'}}</td>
                      <td style="height: 0" *ngFor="let col of row.scol">

                        <div class="fill" (click)="onCellClick('Новое занятие')">
                          <div *ngFor="let cell of col.scell" class="cellWrap">
                            <app-schedule-cell [scheduleElement]="cell"
                                               [matMenuTriggerFor]="menu"
                                               [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                               #menuTrigger="matMenuTrigger"
                                               (click)="$event.stopPropagation()"
                            ></app-schedule-cell>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </table>
                <table class="mainSchedule">
                  <thead>
                  <tr style="text-align: center">
                    <th>Время\День</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                  </tr>
                  </thead>
                  <ng-container *ngIf="this.settings.value.shift !==2">
                    <tr>
                      <td colspan="999" class="shiftCell">
                        <h5>Первая смена</h5>
                      </td>
                    </tr>
                    <tr *ngFor="let row of this.timedWeekFirstShift">
                      <td class="timeColumn"> {{row.rowTime.classTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.classTimeEnd | date:'HH:mm'}}<br>
                        {{row.rowTime.secondTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.secondTimeEnd | date:'HH:mm'}}</td>
                      <td style="height: 0" *ngFor="let col of row.scol">
                        <div class="fill" (click)="onCellClick('Новое занятие')">
                          <div *ngFor="let cell of col.scell" class="cellWrap">
                            <app-schedule-cell [scheduleElement]="cell"
                                               [matMenuTriggerFor]="menu"
                                               [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                               #menuTrigger="matMenuTrigger"
                                               (click)="$event.stopPropagation()"
                            ></app-schedule-cell>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="this.settings.value.shift !==1">
                    <tr>
                      <td colspan="999" class="shiftCell">
                        <h5>Вторая смена</h5>
                      </td>
                    </tr>
                    <tr *ngFor="let row of this.timedWeekSecondShift">
                      <td class="timeColumn"> {{row.rowTime.classTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.classTimeEnd | date:'HH:mm'}}<br>
                        {{row.rowTime.secondTimeStart | date:'HH:mm'}}
                        - {{row.rowTime.secondTimeEnd | date:'HH:mm'}}</td>
                      <td *ngFor="let col of row.scol" style="height: 0">
                        <div class="fill" (click)="onCellClick('Новое занятие')">
                          <div *ngFor="let cell of col.scell" class="cellWrap">
                            <app-schedule-cell [scheduleElement]="cell"
                                               [matMenuTriggerFor]="menu"
                                               [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                               #menuTrigger="matMenuTrigger"
                                               (click)="$event.stopPropagation()"
                            ></app-schedule-cell>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowForward()">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Месяц">
        <ng-template matTabContent>
          <div style="display: table">
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowBackward()">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
            </div>
            <div *ngIf="showSpinner" class="spinner">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!showSpinner" style="display: table-cell; width: 100%; vertical-align: middle">
              <div class="row-eq-height">
                <table class="mainSchedule">
                  <thead>
                  <tr style="text-align: center">
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                  </tr>
                  </thead>
                  <tr *ngFor="let weekIndex of weeks">
                    <ng-container>
                      <td class="fillable"
                          style="height: 50px; vertical-align: top;" *ngFor="let dayIndex of days">
                        <div class="fill" [ngClass]="{
                        'not-current-month': monthGeneric[dayIndex + weekIndex].date < getFirstDayOfMonth(settings.controls.start.value) ||
                        monthGeneric[dayIndex + weekIndex].date > getLastDayOfMonth(settings.controls.start.value) ||
                        getDayOfWeek(monthGeneric[dayIndex + weekIndex].date) === 0}"
                             (click)="onCellClick('Новое занятие',{date: monthGeneric[dayIndex + weekIndex].date});">
                          <div style="color: rgba(0, 0, 0, 0.5);">
                            <span style="font-size: 0.8em">
                            {{monthGeneric[dayIndex + weekIndex].date.getDate()}}
                              </span>
                          </div>
                          <div style="display: table-cell" >
                            <div class="cellWrap" *ngFor="let cell of monthGeneric[dayIndex + weekIndex].cells">
                              <app-schedule-cell
                                [scheduleElement]="cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{menuTrigger: menuTrigger, cell: cell}"
                                #menuTrigger="matMenuTrigger"
                                (click)="$event.stopPropagation()"
                              ></app-schedule-cell>
                            </div>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </table>
              </div>
            </div>
            <div style="display: table-cell; vertical-align: middle">
              <button mat-fab color="primary" name="loadingButton"
                      (click)="arrowForward()">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>


  <!--  <div class="col-sm">-->
  <!--    <button size="sm" type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect-->
  <!--            (click)="addRoom()">Добавить Комнату-->
  <!--    </button>-->
  <!--    <app-syncfusion-room-scheduler-->
  <!--      *ngIf="roomData && scheduleData"-->
  <!--      [roomData]="roomData"-->
  <!--      [scheduleData]="scheduleData"-->
  <!--    >-->
  <!--    </app-syncfusion-room-scheduler>-->
  <!--  </div>-->
</div>
