<h3><strong>Заполните необходимые элементы</strong></h3>
<app-rich-text-editor #RTE
  (richTextContentEmitter)="updateBusinessGameContent($event)"
  [content]="businessGame.content"></app-rich-text-editor>

<button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
        (click)="saveBusinessGame()" mdbWavesEffect>
  Сохранить
</button>
<strong>Сценарий</strong>
<div class="example-list"
  *ngFor="let item of scenario">
  <div class="example-box">
    <textarea value="{{item}}"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              matInput></textarea>
    <div class="buttons">
      <button matTooltip="Редактировать" type="button" mdbBtn color="primary" size="sm"
              class="relative waves-light"
              (click)="updateScenarioField()" mdbWavesEffect>
        <mdb-icon fas icon="edit" size="lg"></mdb-icon>
      </button>
      <button matTooltip="Удалить" type="button" mdbBtn color="danger" size="sm"
              class="relative waves-light"
              (click)="removeScenarioField()" mdbWavesEffect>
        <mdb-icon fas icon="trash-alt" size="lg"></mdb-icon>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="example-container">
    <h2>Сценарий</h2>
    <button *ngIf="scenario.length === 0" matTooltip="Создать вопрос" type="button" mdbBtn color="primary" size="sm"
            class="relative waves-light"
             mdbWavesEffect>
      <mdb-icon fas icon="plus" size="sm"></mdb-icon>
    </button>

    <div
      class="example-list"
>
      <div class="example-box" *ngFor="let item of scenario; index as i">
        <textarea value="{{item}}"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  matInput></textarea>
        <br><br>
        <div class="buttons">
          <button matTooltip="Создать вопрос" type="button" *ngIf="i == scenario.length - 1" mdbBtn color="primary"
                  size="sm" class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Редактировать" type="button" mdbBtn color="primary" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="edit" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Удалить" type="button" mdbBtn color="danger" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="trash-alt" size="lg"></mdb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="example-container">
    <h2>Сценарий</h2>
    <button *ngIf="scenario.length === 0" matTooltip="Создать вопрос" type="button" mdbBtn color="primary" size="sm"
            class="relative waves-light"
            mdbWavesEffect>
      <mdb-icon fas icon="plus" size="sm"></mdb-icon>
    </button>

    <div
      class="example-list"
    >
      <div class="example-box" *ngFor="let item of scenario; index as i">
        <textarea value="{{item}}"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  matInput></textarea>
        <br><br>
        <div class="buttons">
          <button matTooltip="Создать вопрос" type="button" *ngIf="i == scenario.length - 1" mdbBtn color="primary"
                  size="sm" class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Редактировать" type="button" mdbBtn color="primary" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="edit" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Удалить" type="button" mdbBtn color="danger" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="trash-alt" size="lg"></mdb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="example-container">
    <h2>Сценарий</h2>
    <button *ngIf="scenario.length === 0" matTooltip="Создать вопрос" type="button" mdbBtn color="primary" size="sm"
            class="relative waves-light"
            mdbWavesEffect>
      <mdb-icon fas icon="plus" size="sm"></mdb-icon>
    </button>
    <div class="example-list">
      <div class="example-box" *ngFor="let item of scenario; index as i">
        <textarea value="{{item}}"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  matInput></textarea>
        <br><br>
        <div class="buttons">
          <button matTooltip="Создать вопрос" type="button" *ngIf="i == scenario.length - 1" mdbBtn color="primary"
                  size="sm" class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Редактировать" type="button" mdbBtn color="primary" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="edit" size="lg"></mdb-icon>
          </button>
          <button matTooltip="Удалить" type="button" mdbBtn color="danger" size="sm"
                  class="relative waves-light" mdbWavesEffect>
            <mdb-icon fas icon="trash-alt" size="lg"></mdb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<button matTooltip="+" type="button" mdbBtn color="primary"
        size="sm" class="relative waves-light"
        (click)="addScenarioField()" mdbWavesEffect>
  <mdb-icon fas icon="plus" size="lg"></mdb-icon>
</button>
<br><br>

