.example-container {
  min-width: 200px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  border: black solid 1px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  padding: 10px;
  background: linear-gradient(white, #ddecff);

}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}


.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.tabMenu {
  height: 50px;
  padding: 3px;
  top: 0px;
  width: 100%;
  border: black solid 1px;
  border-radius: 5px;
  background-color: ghostwhite;
}

button{
  border-radius: 5px;
}

.buttons{
  text-align: right;
}
