<button routerLink="/trainingProgram" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
  <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon></button>
<button [disabled]="!saveDisable" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
        (click)="saveBlob()" mdbWavesEffect>
  Сохранить
</button>

<div class="docx">
  <ejs-documenteditorcontainer (contentChange)="saveDisableChange()" #documentEditorContainerComponent [locale]="culture"
                               [enableToolbar]=true>
  </ejs-documenteditorcontainer>

</div>

<input id="open_sfdt" style="position:fixed; left:-100em" type="file" (change)="onFileChange($event)"
       accept=".dotx,.docx,.docm,.dot,.doc,.rtf,.txt,.xml,.sfdt"/>
