<div class="dialog-title-wrapper" mat-dialog-title>
  <h3 class="dialog-title">
    <div>
      <button mat-icon-button class="close-dialog-button" (click)="closeWithoutsaving()">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
      </button>
      <strong>Заполните необходимые элементы</strong>
      <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
              (click)="save()" mdbWavesEffect>
        Сохранить
      </button>
    </div>
  </h3>
  <div *ngIf="data.params.topicNeeded" class="fullwidth">
    <mat-form-field class="fullwidth" appearance="fill">
      <mat-label>Тема</mat-label>
      <textarea [(ngModel)]="businessGame.bGameTitle"
                (ngModelChange)="updateTitle()"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                cdkTextareaAutosize
                matInput></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-content>
  <div  *ngIf="businessGame.bGameBlocks.length > 0">
    <div *ngFor="let block of businessGame.bGameBlocks; index as i">
      <app-business-game-block [businessGameBlock]="block"
                               (dataChanged)="updateData($event,block)"
      (blockDeleted)="deleteBlock(i)"></app-business-game-block>
    </div>
  </div>
  <button matTooltip="Добавить блок" type="button" mdbBtn color="primary" size="sm"
          class="relative waves-light fullwidth" mdbWavesEffect
          (click)="addBlock()">
    <mdb-icon fas icon="plus" size="lg"></mdb-icon>
  </button>
</div>

<!--<mat-dialog-actions align="end">-->

<!--</mat-dialog-actions>-->

