<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Редактирование: {{editableRow.first}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <input id="id" type="text" class="form-control grey-text" formControlName="id" mdbInput>
        <label for="id">ID</label>
      </div>
      <div class="md-form">
        <input id="first" type="text" class="form-control grey-text" formControlName="first" mdbInput mdbValidate
               [validateSuccess]="false">
        <label for="first">First</label>
        <mdb-error *ngIf="first.invalid && (first.dirty || first.touched)">Input is required</mdb-error>
      </div>
      <div class="md-form">
        <p>Содержимое</p>
        <textarea id="last" type="text" class="form-control" formControlName="last" mdbInput mdbValidate
                  [validateSuccess]="false"></textarea>

        <mdb-error *ngIf="last.invalid && (last.dirty || last.touched)">Input is required</mdb-error>
      </div>

      <label>Должность</label>
      <select class="browser-default custom-select" id="second" formControlName="second">
        <option *ngFor="let el of teachingPositions" [ngValue]="el.id">{{el.name}}</option>
      </select>
      <br><br>
      <div>
        <mdb-checkbox [default]="true" formControlName="third">Кафедрал</mdb-checkbox>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="editRow()">Сохранить
    </button>
  </div>
</div>
