<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Преподаватели</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <label for="third">Фамилия</label>
        <input id="third" type="text" class="form-control" formControlName="third" mdbInput mdbValidate
               [validateSuccess]="false">
        <mdb-error *ngIf="third.invalid && (third.dirty || third.touched)">Обязательно для заполнения</mdb-error>
      </div>
      <div class="md-form">
        <label for="second">Имя</label>
        <input id="second" type="text" class="form-control" formControlName="second" mdbInput mdbValidate
                  [validateSuccess]="false">
        <mdb-error *ngIf="second.invalid && (second.dirty || second.touched)">Обязательно для заполнения</mdb-error>
      </div>
      <div class="md-form">
        <label for="fourth">Отчество</label>
        <input id="fourth" type="text" class="form-control" formControlName="fourth" mdbInput mdbValidate
               [validateSuccess]="false">
        <mdb-error *ngIf="fourth.invalid && (fourth.dirty || fourth.touched)">Обязательно для заполнения</mdb-error>
      </div>
      <div class="md-textarea">
        <label for="fifth">Должность</label>
        <textarea id="fifth" type="text" class="md-textarea md-textarea-auto form-control"
                  formControlName="fifth" mdbInput mdbValidate [validateSuccess]="false"></textarea>
        <mdb-error *ngIf="fifth.invalid && (fifth.dirty || fifth.touched)"></mdb-error>
      </div>
      <div class="md-textarea">
        <label for="sixth">Академическое звание</label>
        <textarea id="sixth" type="text" class="md-textarea md-textarea-auto form-control"
                  formControlName="sixth" mdbInput mdbValidate [validateSuccess]="false"></textarea>
        <mdb-error *ngIf="sixth.invalid && (sixth.dirty || sixth.touched)"></mdb-error>
      </div>
      <br>
      <div>
        <mdb-checkbox [default]="true" formControlName="seventh">Кафедрал</mdb-checkbox>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="editRow()">Сохранить
    </button>
  </div>
</div>
