<ng-content></ng-content>
<div class="example-container">
  <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
          (click)="saveTrainingProgramCurriculumSection()"
          mdbWavesEffect><mdb-icon fas icon="save" size="lg"></mdb-icon></button>
  <h4><strong>Раздел {{curriculumSectionNumber}}</strong></h4>
  <h5 *ngIf="curriculumSection != null">{{curriculumSection.name}}</h5>
  <button type="button" mdbBtn color="success" size="sm" class="relative waves-light" (click)="addCurriculumSection()"
          mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon></button>
  <ng-select [items]="curriculumSections"
             bindValue=""
             bindLabel="name"
             [(ngModel)]="curriculumSection">
  </ng-select>
  <div
    cdkDropList
    [cdkDropListData]="done"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.second}}
      <mdb-checkbox [(ngModel)]="item.third" [default]="true">Вариативная</mdb-checkbox>
      <label>Количество часов</label>
      <input [(ngModel)]="item.fourth" type="number" class="md-textarea form-control" mdbInput>
      <label>Форма занятия</label>
      <select [(ngModel)]="item.fifth" class="browser-default custom-select">
       <option *ngFor="let el of occupationForms" [ngValue]="el.id">{{el.fullName}}</option>
      </select>
    </div>
  </div>
  <div class="addWindow" *ngIf="addSection == true">
  <app-curriculum-section ></app-curriculum-section>
  </div>
</div>
