<div class="container-fluid">
  <div class="backButton">
    <button routerLink="/admin/trainingProgram" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon> Выход</button>
  </div><br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4><br>
  <h5><strong>Количество часов: {{trainingProgram.numberOfHours}}</strong></h5>

  <app-training-program-stepper [id]="id"></app-training-program-stepper>

  <h3><strong>Перетащите необходимые элементы</strong></h3>

  <div cdkDropListGroup>
    <div class="row">
      <div class="col-sm-4"><br>
        <div class="offer">
          <h2 style="margin-left: 15px; margin-top: 15px">Предложено</h2>
          <div style="margin: 0 25px 25px 0" class="md-form">
            <input style="max-width: 100%; margin-left: 10px" type="search" class="form-control" id="search-input" [(ngModel)]="searchText"
                   mdbInput>
            <label style="margin-left: 10px" for="search-input">Поиск</label>
          </div>
          <div class="example-container">
            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo | filter: searchText; index as i" cdkDrag>{{i+1}}. {{item.second}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div *ngIf="curriculumSectionContentList.length === 0">
          <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                  (click)="addCurriculumSection(0, 0)" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить раздел</button>
        </div>
        <div *ngFor="let item of curriculumSectionContentList; index as i ">
          <app-curriculum-section-child [curriculumSectionNumber]="i+1"
                                        [done]="item.done"
                                        [id]="id"
                                        [curriculumSectionId]="item.curriculumSectionId"
                                        [(trainingProgramCurriculumSectionId)]="item.trainingProgramCurriculumSectionId">
          </app-curriculum-section-child>
          <button type="button" class="deleteBtn" mdbBtn color="danger" size="sm" class="relative waves-light"
                  (click)="deleteTrainingProgramCurriculumSection(i, item.trainingProgramCurriculumSectionId)" mdbWavesEffect>
            <mdb-icon fas icon="trash-alt" size="sm"></mdb-icon> Удалить Раздел {{i + 1}}
          </button>

          <button *ngIf="i === curriculumSectionContentList.length - 1" class="deleteBtn" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                  (click)="addCurriculumSection(0, 0)" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить раздел
          </button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <button type="button" routerLink="/admin/trainingProgramAddForm2/{{id}}" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Далее</button>
</div>
