<div class="container"><br>
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="addCurriculumSection()" mdbWavesEffect>
    <mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
  <div cdkDropListGroup>
  <div class="example-container">
    <h2>Предложено</h2>


    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.second}}</div>
    </div>
  </div>


    <div *ngFor="let item of curriculumSectionContentList"><app-curriculum-section-child
                                       [name]="item.name" [done]="item.done"></app-curriculum-section-child>
      <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
              (click)="delete(item)" mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
    </div>

  </div>
  <br><br>
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="crate()" mdbWavesEffect>Далее</button>
</div>

