<div class="container"><br>
  <div cdkDropListGroup>
  <div class="example-container">
    <h2>Предложено</h2>


    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.second}}</div>
    </div>
  </div>
    <button type="button" mdbBtn color="primary" class="relative waves-light" size="sm"
            (click)="addCurriculumSection()" mdbWavesEffect>
      <mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
    <button *ngIf="curriculumSectionContentList.length > 0" type="button" mdbBtn color="danger" size="sm"
            class="relative waves-light" (click)="delete()" mdbWavesEffect>Очистить</button>

    <app-curriculum-section-child *ngFor="let item of curriculumSectionContentList"
                                       [name]="item.name" [done]="item.done" [id]="id"></app-curriculum-section-child>

  </div>
  <br><br>
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="crate()" mdbWavesEffect>Далее</button>
</div>

