<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Основная литература</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-textarea">
        <label for="last">Содержимое</label>
        <textarea id="last" type="text" class="md-textarea md-textarea-auto form-control"
                  formControlName="last" mdbInput mdbValidate [validateSuccess]="false"></textarea>
        <mdb-error *ngIf="last.invalid && (last.dirty || last.touched)"></mdb-error>
      </div><br>
      <div>
        <div style="display: inline-block; padding: 20px;">
          <mdb-checkbox formControlName="accessDateEnabled">Использовать дату доступа:</mdb-checkbox>
        </div>
        <div style="display: inline-block;" *ngIf="form.get('accessDate') as date" >
          <mat-form-field appearance="fill" >
            <mat-label>Дата доступа</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="accessDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">Обязательно для заполнения</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mdb-checkbox *ngIf="editableRow.isCrate" [default]="true" formControlName="third">Добавить в общий доступ</mdb-checkbox>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid" (click)="editRow()">Сохранить
    </button>
  </div>
</div>
