.z-depth-1 {
  margin-right: 25px;
};

.addButton{
  position: relative;
  float: right;
}

button{
  border-radius: 5px;
}

th{
  word-wrap: break-word;
}

td{
  max-width: 150px;
  word-wrap: break-word;
}

.modal-body {
  max-height: 80vh;
  overflow-y: scroll;
}
