<h1>Учебная программа</h1>

<div class="row">
  <div *ngIf="globals.role === 'admin'" class="col-sm-2">
    <app-curriculum-topic-list></app-curriculum-topic-list>
  </div>
  <div class="col-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="md-form">
            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                   mdbInput>
            <label for="search-input">Поиск</label>
          </div>
        </div>
        <div class="addButton">
          <button type="button" mdbBtn color="primary" class="relative waves-light" size="sm" (click)="addRow()"
                  mdbWavesEffect><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
        </div>
          <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" class="z-depth-1">
            <thead class="sticky-top">
            <tr>
              <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements"
                  [sortBy]="headElements[i]"
                  scope="col">{{head | titlecase}}
              </th>
            </tr>
            </thead>
            <tbody #row>
            <tr mdbTableCol *ngFor="let el of elements; let i = index">
              <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.second}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.third}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <mdb-checkbox [disabled]="true" [(ngModel)]="el.fourth" [default]="true"></mdb-checkbox></td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.eight}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.tenth}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.twelfth}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.fourteenth}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <button type="button" mdbBtn color="yellow" size="sm" class="relative waves-light"
                        [routerLink]="['/' + globals.role +'/docxGeneratorTP', el.first]"
                        mdbWavesEffect><mdb-icon fas icon="file-alt" size="sm"></mdb-icon><a class="btn-text"> УП</a></button>
                <button type="button" mdbBtn color="gray" size="sm" class="relative waves-light"
                        [routerLink]="['/' + globals.role +'/docxGeneratorATP', el.first]"
                        mdbWavesEffect><mdb-icon fas icon="file-alt" size="sm"></mdb-icon><a class="btn-text"> УТП</a></button>
                <button type="button" mdbBtn color="success" size="sm" class="relative waves-light"
                        [routerLink]="['/' + globals.role +'/trainingProgramAddFormIntroduction', el.first]"
                        mdbWavesEffect><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
                <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="editRow(el)"
                        mdbWavesEffect><mdb-icon fas icon="edit" size="lg"></mdb-icon></button>
                <button *ngIf="globals.role === 'admin'" type="button"
                        mdbBtn color="danger" size="sm" class="relative waves-light" (click)="delete(el)"
                        mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
              </td>
            </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
            <tr>
              <td colspan="9">
                <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
    </div>
  </div>
</div>
