.z-depth-1 {
  margin-right: 25px;
};

th{
  word-wrap: break-word;
  text-transform: uppercase;
}

td{
  word-wrap: break-word;
}

.addButton{
  position: relative;
  float: right;
}

button{
  border-radius: 5px;
  width: 70px;
  display: block;
}

.btn-text {
  font-size: 8px;
}
