<div class="container-fluid">
  <div class="backButton">
    <button [routerLink]="'/' + globals.role +'/trainingProgram'" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon> Выход</button>
  </div><br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4>

  <app-training-program-stepper *ngIf="trainingProgram" [id]="id" [isDistanceLearning]="trainingProgram.isDistanceLearning"></app-training-program-stepper>

  <div class="row">
    <div class="col-sm">
      <div class="exp">
        <h3>Разработчики</h3>
        <div *ngIf="trainingProgramTeacherDeveloper.length === 0" class="addButton">
          <button type="button" mdbBtn color="gray" size="sm" class="relative waves-light"
                  (click)="addDeveloper()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
        </div>
        <br>
        <div *ngFor="let el of trainingProgramTeacherDeveloper let i = index" class="experts">
          <ng-select *ngIf="teachers.length !== 0 && trainingProgramTeacherDeveloper.length !== 0"
                     [items]="this.teachers"
                     [clearable]="false"
                     (change)="saveDeveloper($event.id, i)"
                     bindValue=""
                     [(ngModel)]="teacherDevelopers[i]"
                     bindLabel="fullNameForm"
                     placeholder="Выберите разработчика">
          </ng-select>
          <div class="addButton">
            <button *ngIf="i === trainingProgramTeacherDeveloper.length - 1" type="button" mdbBtn color="gray"
                    size="sm" class="relative waves-light" (click)="addDeveloper()"
                    mdbWavesEffect><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
            <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="editSelectedTeacher(teacherDevelopers[i])"
                    mdbWavesEffect><mdb-icon fas icon="edit" size="lg"></mdb-icon></button>
          </div>
          <div class="delButton">
            <button type="button" mdbBtn color="gray" size="sm" class="relative waves-light" (click)="removeDeveloper(i, el.id)"
                    mdbWavesEffect><mdb-icon fas icon="trash" size="lg"></mdb-icon></button>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="exp">
        <h3>Рецензенты</h3>
        <div *ngIf="trainingProgramTeacherReviewer.length === 0" class="addButton">
          <button type="button" mdbBtn color="gray" size="sm" class="relative waves-light"
                  (click)="addReviewer()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
        </div>
        <br>
        <div *ngFor="let el of trainingProgramTeacherReviewer; let i = index" class="experts">
          <ng-select *ngIf="teachers.length !== 0" [items]="this.teachers" [clearable]="false"
                     (change)="saveReviewer($event.id, i)"
                     bindValue=""
                     [(ngModel)]="teacherReviewers[i]"
                     bindLabel="fullNameForm"
                     placeholder="Выберите рецензента">
          </ng-select>
          <div class="addButton">
            <button *ngIf="i === trainingProgramTeacherReviewer.length - 1" type="button" mdbBtn color="gray"
                    size="sm" class="relative waves-light" (click)="addReviewer()"
                    mdbWavesEffect><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
            <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="editSelectedTeacher(teacherReviewers[i])"
                    mdbWavesEffect><mdb-icon fas icon="edit" size="lg"></mdb-icon></button>
          </div>
          <div class="delButton">
            <button type="button" mdbBtn color="gray" size="sm" class="relative waves-light"
                    (click)="removeReviewer(i, el.id)" mdbWavesEffect><mdb-icon fas icon="trash" size="lg"></mdb-icon></button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button style="float: right" type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="addNewTeacher()"
          mdbWavesEffect>Добавить нового преподавателя</button>
  <br>
  <button type="button" [routerLink]="['/' + globals.role +'/trainingProgramIntroductionStep', id]"
          mdbBtn color="primary" size="sm" class="relative waves-light" mdbWavesEffect>Далее</button><br>
</div>
