button{
  border-radius: 5px;
}

.buttons{
}

.delButton {
  display: inline-block;
  float: right;
}

.addButton {
  display: inline-block;
}

.experts {
  min-height: 170px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 15px;;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

.exp {
  background: linear-gradient(white, #ddecff);
  padding: 20px;
  border: 1px solid #92b7ee;
  border-radius: 5px;;
}
