<div class="container-fluid">
  <div class="backButton">
    <button [routerLink]="'/' + globals.role +'/trainingProgram'" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon> Выход</button>
  </div><br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4>

  <app-training-program-stepper [id]="id"></app-training-program-stepper>

  <div class="row">
    <div class="col-sm">
      <h3>Разработчики</h3><br>
      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addDeveloper()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br>
      <div *ngFor="let el of trainingProgramTeacherDeveloper let i = index" >
        <ng-select *ngIf="teachers.length !== 0 && trainingProgramTeacherDeveloper.length !== 0" [items]="this.teachers" [clearable]="false"
                   (change)="saveDeveloper($event.id, i)"
                   bindValue=""
                   [(ngModel)]="teacherDevelopers[i]"
                   bindLabel="fullNameForm"
                   placeholder="Выберите разработчика">
        </ng-select>
        <br>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeDeveloper(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br>
      </div>
    </div>
    <div class="col-sm">
      <h3>Рецензенты</h3><br>
      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addReviewer()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br>
      <div *ngFor="let el of trainingProgramTeacherReviewer; let i = index" >
        <ng-select *ngIf="teachers.length !== 0" [items]="this.teachers" [clearable]="false"
                   (change)="saveReviewer($event.id, i)"
                   bindValue=""
                   [(ngModel)]="teacherReviewers[i]"
                   bindLabel="fullNameForm"
                   placeholder="Выберите рецензента">
        </ng-select>
        <br>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
                  (click)="removeReviewer(i, el.id)" mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

