<div class="container-fluid">
  <div class="backButton">
    <button [routerLink]="'/' + globals.role +'/trainingProgram'" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon> Выход</button>
  </div><br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4><br>

  <app-training-program-stepper [id]="id"></app-training-program-stepper>

  <h3><strong>Перетащите необходимые элементы</strong></h3>

  <div cdkDropListGroup>
    <div class="row">
      <div class="col-sm-6">
        <div class="example-container">
          <h2>Предложено</h2>

          <div
            cdkDropList
            [cdkDropListData]="todo"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="noReturnPredicate">
            <div class="example-box" *ngFor="let item of todo; index as i" cdkDrag>{{i+1}}. {{item.third}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="example-container">
          <h2>Выбрано</h2>
          <button *ngIf="done.length === 0" type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="basicModal.show()"
                  mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить</button>

          <div
            cdkDropList
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done; index as i" cdkDrag>{{i+1}}. {{item.third}}
              <br><br>
              <div class="buttons">
                <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                        (click)="basicModal.show()" mdbWavesEffect>
                  <mdb-icon fas icon="plus" size="lg"></mdb-icon>
                </button>
                <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
                        (click)="deleteTrainingProgramRegulation(item.fourth, i)" mdbWavesEffect>
                  <mdb-icon fas icon="times" size="lg"></mdb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <button type="button" [routerLink]="'/' + globals.role +'/trainingProgram'"
          mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Завершить</button>
  <button type="button" [routerLink]="['/' + globals.role +'/docxGeneratorTP', id]" mdbBtn color="success"
          class="relative waves-light" mdbWavesEffect>Сгенерировать УП</button>
  <button type="button" [routerLink]="['/' + globals.role +'/docxGeneratorATP', id]" mdbBtn color="success"
          class="relative waves-light" mdbWavesEffect>Сгенерировать УТП</button>
</div>

<!--шаблон для добавления-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Нормативно правовой акт</h4>
      </div>
      <div class="modal-body">
        <label>Содержание</label>
        <textarea type="text" [(ngModel)]="this.regulation.content" class="md-textarea form-control" mdbInput></textarea>
      </div>
      <br>
      <label style="color: red; margin-left: 15px;">Связь с темой учебной программы</label>
      <select style="margin-left: 15px; width: 98%" [(ngModel)]="curriculumTopicTrainingProgram" class="browser-default custom-select">
        <option *ngFor="let el of curriculumTopicTrainingPrograms" [ngValue]="el">{{el.topicTitle}}</option>
      </select><br>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()" (click)="addRegulation()"
                mdbWavesEffect>Сохранить</button>
      </div>
    </div>
  </div>
</div>
