<div class="container-fluid">
  <div class="backButton">
    <button [routerLink]="'/' + globals.role +'/trainingProgram'" type="button" size="sm" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon> Выход</button>
  </div><br>
  <h4 *ngIf="trainingProgram">Учебная программа: <strong>«{{trainingProgram.name}}»</strong></h4><br>

  <app-training-program-stepper [id]="id"></app-training-program-stepper>

  <h3><strong>Перетащите необходимые элементы</strong></h3>

  <div cdkDropListGroup>
    <div class="row">
      <div class="col-sm-6">
        <app-template-offer [todo]="todo"></app-template-offer>
      </div>
      <div class="col-sm-6">
        <div class="example-container">
          <h2>Выбрано</h2>
          <button *ngIf="done.length === 0" type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                  mdbWavesEffect><mdb-icon fas icon="plus" size="sm"></mdb-icon> Добавить</button>

          <div
            cdkDropList
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($any($event))">
            <div class="example-box" *ngFor="let item of done; index as i" cdkDrag>{{i+1}}. {{item.trainingProgramRegulationContent}}
              <br><br>
              <div class="buttons">
                <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" (click)="addTrainingProgramRegulation()" mdbWavesEffect>
                  <mdb-icon fas icon="plus" size="lg"></mdb-icon>
                </button>
                <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light"
                        (click)="deleteTrainingProgramRegulation(item.trainingProgramRegulationId, i)" mdbWavesEffect>
                  <mdb-icon fas icon="times" size="lg"></mdb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <button type="button" [routerLink]="'/' + globals.role +'/trainingProgram'"
          mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Завершить</button>
  <button type="button" [routerLink]="['/' + globals.role +'/docxGeneratorTP', id]" mdbBtn color="success"
          class="relative waves-light" mdbWavesEffect>Сгенерировать УП</button>
  <button type="button" [routerLink]="['/' + globals.role +'/docxGeneratorATP', id]" mdbBtn color="success"
          class="relative waves-light" mdbWavesEffect>Сгенерировать УТП</button>
</div>
