<div class="container-fluid">
  <br>
  <div class="row">

    <div class="col-sm">
      <h4><b>Категория интерактивного модуля</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addDepartment()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of departmentsList; let i = index" >
        <select class="browser-default custom-select" label="Example label">
          <option>Выберите категорию</option>
          <option *ngFor="let p of departments" [ngValue]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeDepartment(i)"
                mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Преподаватели</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTeacher()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of teachersList; let i = index" >
        <select class="browser-default custom-select">
          <option>Выберите преподавателя</option>
          <option *ngFor="let p of teachers" [ngValue]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTeacher(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Категория педагогов, квалификационная категория</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTeacherCategory()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of teacherCategoriesList; let i = index" >
        <select class="browser-default custom-select">
          <option>Выберите категорию педагога</option>
          <option *ngFor="let p of teacherCategories" [ngValue]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTeacherCategory(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>

  <br>
  <div class="row">

    <div class="col-sm">
      <h4><b>Воопросы для зачета</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTheQuestion()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of theQuestionsList; let i = index" >
        <select class="browser-default custom-select">
          <option>Выберите вопрос</option>
          <option *ngFor="let p of theQuestions" [ngValue]="p.id">{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTheQuestion(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Темы консультаций</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addConsultationTopic()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of consultationTopicsList; let i = index" >
        <select class="browser-default custom-select">
          <option>Выберите тему</option>
          <option *ngFor="let p of consultationTopics" [ngValue]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeConsultationTopic(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>

  <br>
  <div class="row">

    <div class="col-sm">
      <h4><b>Основная литература</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addMainLiterature()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of mainLiteraturesList; let i = index" >
        <select class="browser-default custom-select">
          <option>Выберите литературу</option>
          <option *ngFor="let p of mainLiteratures" [ngValue]="p.id">{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeMainLiterature(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Дополнительная литература</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addAdditionalLiterature()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of additionalLiteraturesList; let i = index" >
        <select [ngModel]="tmp" (ngModelChange)="changeAdditionalLiterature($event, el)" class="browser-default custom-select">
          <option>Выберите литературу</option>
          <option  *ngFor="let p of additionalLiteratures" [ngValue]="p">{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeAdditionalLiterature(i)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>
</div>
