<div class="container-fluid">
  <br>
  <div class="backButton">
    <button routerLink="/curriculumTopic" type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="arrow-left" size="lg"></mdb-icon></button>
  </div>

  <div class="row">

    <div class="col-sm">
      <h4><b>Кафедра</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addDepartment()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of departmentsList; let i = index" >
        <select (change)="changeDepartment($event.target.value, el)" class="browser-default custom-select" label="Example label">
          <option>Выберите категорию</option>
          <option *ngFor="let p of departments" [selected]="p.id == el.departmentId" [value]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeDepartment(i, el.id)"
                mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Преподаватели</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTeacher()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of teachersList; let i = index" >
        <select (change)="changeTeacher($event.target.value, el)" class="browser-default custom-select">
          <option>Выберите преподавателя</option>
          <option *ngFor="let p of teachers" [selected]="p.id == el.teacherId" [value]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTeacher(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Категория педагогов</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTeacherCategory()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of teacherCategoriesList; let i = index" >
        <select (change)="changeTeacherCategory($event.target.value, el)" class="browser-default custom-select">
          <option>Выберите категорию педагога</option>
          <option *ngFor="let p of teacherCategories" [selected]="p.id == el.teacherCategoryId" [value]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTeacherCategory(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>

  <br>
  <div class="row">

    <div class="col-sm">
      <h4><b>Вопросы для зачета</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addTheQuestion()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of theQuestionsList; let i = index" >
        <select (change)="changeTheQuestion($event.target.value, el)" class="browser-default custom-select">
          <option>Выберите вопрос</option>
          <option *ngFor="let p of theQuestions" [selected]="p.id == el.theQuestionId" [value]="p.id">{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeTheQuestion(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Темы консультаций</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addConsultationTopic()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of consultationTopicsList; let i = index" >
        <select (change)="changeConsultationTopic($event.target.value, el)" class="browser-default custom-select">
          <option>Выберите тему</option>
          <option *ngFor="let p of consultationTopics" [selected]="p.id == el.consultationTopicId" [value]="p.id">{{p.name}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeConsultationTopic(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>

  <br>
  <div class="row">

    <div class="col-sm">
      <h4><b>Основная литература</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addMainLiterature()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of mainLiteraturesList; let i = index" >
        <select (change)="changeMainLiterature($event.target.value, el)" class="browser-default custom-select">
          <option>Выберите литературу</option>
          <option *ngFor="let p of mainLiteratures" [selected]="p.id == el.mainLiteratureId" [value]="p.id">{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeMainLiterature(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="col-sm">
      <h4><b>Дополнительная литература</b></h4>

      <div class="addButton">
        <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light"
                (click)="addAdditionalLiterature()"><mdb-icon fas icon="plus" size="lg"></mdb-icon></button>
      </div>
      <br><br>

      <div *ngFor="let el of additionalLiteraturesList; let i = index" >
        <select (change)="changeAdditionalLiterature($event.target.value, el)" class="browser-default custom-select" >
          <option>Выберите литературу</option>
          <option *ngFor="let p of additionalLiteratures" [selected]="p.id == el.additionalLiteratureId" [value]="p.id" >{{p.content}}</option>
        </select>
        <div class="delButton">
          <button type="button" mdbBtn color="danger" size="sm" class="relative waves-light" (click)="removeAdditionalLiterature(i, el.id)"
                  mdbWavesEffect><mdb-icon fas icon="trash-alt" size="lg"></mdb-icon></button>
        </div>
        <br><br>
      </div>
    </div>

  </div>
</div>
