.z-depth-1 {
  margin-right: 25px;
};

td{
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addButton{
  position: relative;
  float: right;
}

button{
  border-radius: 5px;
}
