<div class="list-group">
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/curriculumTopic"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Темы учебной программы</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/department"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Кафедра</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/curriculumSection"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Раздел учебной программы</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/teachingPosition"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Должность преподавателя</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/studentCategory"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Категория учащихся</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/teacher"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Преподаватели</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/testWork"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Самостоятельная работа</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/formOfEducation"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Форма получения образования</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/occupationForm"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Форма занятия</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/regulation"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Нормативные правовые акты</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/mainLiterature"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Основная литература</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/additionalLiterature"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Дополнительная литература</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/group"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Группы</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/certificationType"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Тип аттестации</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/finalExamination"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Итоговая аттестация</a>
  <a routerLinkActive="list-group-item-secondary primary-color-dark active" routerLink="/trainingProgram"
     class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Учебная программа</a>
</div>
