<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group" >
      <label>Логин</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="alert alert-danger" *ngIf="username.touched && username.errors?.required">
      Не указан логин!
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">
      Не указан email!
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">
      Не указан пароль!
    </div>
    <button [disabled]="username.invalid || email.invalid || password.invalid"
            class="btn btn-primary" name="submit">Регистрация</button>
  </form>
</div>
